Kaggle competition: [Grupo Bimbo Inventory Demand](https://www.kaggle.com/c/grupo-bimbo-inventory-demand)
The purpose of this project is to predict inventory demand based on historical sales data.

In [3]:
import numpy as np
import pandas as pd
import os

os.chdir("/Users/quanyu/github/py_project")
train = pd.read_csv('bimbo/train.csv.zip', nrows=10000)
test = pd.read_csv('bimbo/test.csv.zip', nrows = 10000)

print train.shape
print test.shape

(10000, 11)
(10000, 7)

In [4]:
pd.DataFrame(train.head(3))

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
0,3,1110,7,3301,15766,1212,3,25.14,0,0.0,3
1,3,1110,7,3301,15766,1216,4,33.52,0,0.0,4
2,3,1110,7,3301,15766,1238,4,39.32,0,0.0,4

In [5]:
pd.DataFrame(test.head(3))

   id  Semana  Agencia_ID  Canal_ID  Ruta_SAK  Cliente_ID  Producto_ID
0   0      11        4037         1      2209     4639078        35305
1   1      11        2237         1      1226     4705135         1238
2   2      10        2045         1      2831     4549769        32940

I'll split the train data into df_train and df_test

In [10]:
df_train = train.ix[0:6999]
df_test  = train.ix[7000:10000]

print df_train.shape
print df_test.shape

(7000, 11)
(3000, 11)

In [19]:
# training a model
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

X = df_train.iloc[:,:6]
Y = df_train.Demanda_uni_equil

In [26]:
# predict
clf = RandomForestClassifier(n_estimators=10)
clf = clf.fit(X, Y)

y_pred = clf.predict(df_test.iloc[:,:6])
y_true = df_test.Demanda_uni_equil
print("Accuracy: " + str(round(accuracy_score(y_true, y_pred), 3)))

Accuracy: 0.075